#div1 {

    color:darkturquoise;
    background-color: black;
    opacity: 0.5;
}
#div2 {

    color: rgb(0, 206, 209);
    background-color: rgba(0, 0, 255, 0.5);

}
#p3{

    color: #00ced1;
    background-color: #808080;
}   

