body {
    background-color: rgb(228, 228, 228)

}
ul {
    background-color: orange;
    width: 600px;
    margin: 0 auto;
}
ul li {
    position: relative;
    display: inline-block;
}
ul ul {
    display: none;
    position: absolute;
}

ul li:hover {
    background-color: rgb(206, 206, 206)
}

ul li:hover ul {
    display: block;
}

ul ul li {
    display: block;
    
}